meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='cleartype', content='on')
meta(name='MobileOptimized', content='320')
meta(name='HandheldFriendly', content='True')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
meta(name='description', content='Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.')
meta(name='keywords', content='digital, web development, software, branding, design, identity, branding, logos, advertising, marketing, copywritin, web design, development, new york, new york city, brooklyn')
meta(name='google-site-verification', content='cAcSU62Yp5NwS2tAG5wbbYETGM7j-kmqPjgiNlqLOs8')
meta(name='copyright', content='2016 Computer Lab')
meta(name='zipcode', content='11249')
meta(name='city', content='Brooklyn')
meta(name='state', content='New York')
meta(name='country', content='United States')
meta(name='language', content='EN')
meta(property='og:url', content='http://www.computerlab.io')
meta(property='og:site_name', content='Computer Lab')
meta(property='og:title', content='Computer Lab // Digital Consultancy in Brooklyn, NY')
meta(property='og:image', content='http://computerlab.io/images/computer.png')
meta(property='og:description', content='Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@computerlab_')
meta(name='twitter:domain', content='http://computerlab.io')
meta(name='twitter:image', content='http://computerlab.io/images/computer.png')
meta(name='twitter:description', content='Computer Lab is a digital consultancy in Brooklyn, NY.')
title Computer Lab - Digital Consultancy in Brooklyn, NY

// Vendor Fonts
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
rel='stylesheet', type='text/css')
link(href="/bower_components/animate.css/animate.min.css" rel='stylesheet' type='text/css')
link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700',
rel='stylesheet', type='text/css')

// typekit fonts
script(src='https://use.typekit.net/xdu8xas.js')
script.
  try{Typekit.load({ async: false });} catch(e){}


// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

if config.author
  meta(name="author", content=config.author)

block page_description
  meta(name="description", content=config.description)

title
  block site_title
    = config.title


//- RSS
link(rel="alternate", href=theme.rss ? theme.rss : config.root + "rss2.xml", title="config.title", type="application/rss2.xml")

//- Stylesheets
!= css("/css/main")


