extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn.invisible
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.
            a.btn.btn-circle.wow.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section.parallaxParent
    .container
      .row
        .col-md-4.v-center.col-xs-12
          include _partial/svg/devices-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Our Services
          .row.service.wow.slideInUp
            p
              span.pink We can build your product. 
              | Computer Lab specializes in developing data-driven applications
              | with intensive UIs.  We're a full-service dev shop that knows
              | how to work well with other teams.
          .row.service.wow.slideInUp      
            p
              span.pink We can understand your data. 
              | Our team has the data science expertise to make sure that you're 
              | solving the right problems.  We collect data, clean data, move 
              | data, mine data, and visualize data.
          .row.service.wow.slideInUp    
            p
              span.pink We can make people care about you. 
              | The Computer Lab network will help you scale.  We have tools to
              | get more eyes on your product and people who can help you build
              | your brand. 
  section#case-study.content-section.alt
    .container 
      .row
        .col-md-6.col-xs-12
          br
          h1.section-title.wow.fadeIn Case Study: PinPoints
          h3 We built an interactive 3D landing page for a marketing data visualization tool.
          p The engineers who built ReactJS were inspired by the efficency and
            | simplicity of the "DOOM" video game engine, so it's not surprising that React 
            | is a good tool for building responsive 3D websites.  
            | The PinPoints build convinced us that React's declarative
            | components are a great fit for developing 3D user interfaces in the browser.
            | We're looking forward to building something really cool with this
            | technology sometime soon.
          a.btn.btn-default.over-dark.read-more(href="http://pinpoints.io") Link
          a.btn.btn-default.over-dark.read-more(href="/blog/") Read More
        .col-md-6.v-center.col-xs-12
          img(src="/images/pinpoints4.png").wow.fadeIn

  section#feature-post.content-section.alt
    .container
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          h1.section-title.wow.fadeIn From The Blog
          h2.wow.fadeIn
            a(href=config.feature_post_path)=config.feature_post_title
          h5.wow.fadeIn=config.feature_post_author + ' - '
            span.date=config.feature_post_date
          p.wow.fadeIn=config.feature_post_excerpt
          a.btn.btn-default.over-dark.wow.fadeIn.read-more(href=config.feature_post_path) Read More
  // About Section
  section#about.content-section.last
    .container
      .row
        .col-md-4.col-xs-12.v-center
          include _partial/svg/team-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn About Lab
          .about.wow.slideInUp
            p
              | Computer Lab is a group of developers, designers and engineers 
              | who met on the Internet and now work together in Brooklyn, NY. 
          .about.wow.slideInUp
            p Our team includes  
              span
                a(target='_blank' href='https://ptsteadman.com/') Patrick Steadman
                | , 
                a(target='_blank' href='http://zachtaylor.me') Zachary Taylor
                | , 
                a(target='_blank' href='http://maxhfowler.com/') Max Fowler
                |  and 
                a(target='_blank' href='http://henrymac.info/') Henry MacConnel
                | .
          .about.wow.slideInUp
            p 
              span
              | Our office off the Bedford L is open to all, set up a time to
              | stop by. 
              br
          .about.wow.slideInUp
            p
              span.pink
              | 140 Metropolitan Ave
              br
              | Brooklyn, NY 11249
          .about.row.wow.slideInUp    
            p
              a.btn.btn-default.email(href='mailto:hi@computerlab.io?Subject=Inquiry') Email Us

