extends base

block site_body
  .hero
    .container-fluid
      .row
        .col-md-6.col-xs-12.canvas-container.full-page.no-padding
          canvas#art
          .copy
            h1= config.subtitle
            p= config.blurb
            .row.flex.details
              .col-md-6.vertically-centered.flex
                .float-left.vertically-centered
                  img(src="/images/office-phone.svg")
                .float-left
                  a(href='mailto:ideas@computerlab.io') hi@computerlab.io
                  p= theme.phone
              .col-md-6.mobile-hidden.vertically-centered.flex
                .float-left.vertically-centered
                  img(src="/images/building.svg")
                .float-left
                  p= theme.address_1
                  p= theme.address_2
                  p= theme.address_3
        .col-md-6.col-xs-12.competencies.full-page.flex.no-padding
          .centered
            #menu
              h2 Our Competencies
              p We can #[a(href="#web-dev" data-id="web-dev") build your website].
              p We can #[a(href="#data" data-id="data") understand your data.]
              p We can #[a(href="#branding" data-id="branding") develop your brand].
              p We can #[a(href="#caring" data-id="caring") make people care about you].
      .row#web-dev
        .col-md-6.col-xs-12.section.flex.no-padding.web
          .centered
            h2 Web Development
            p
              | Computer Lab specializes in developing sleek landing pages,
              | UI-intensive applications, and data-driven APIs.  We can
              | work along with your team, or be your full-service
              | dev shop.  
        .col-md-6.col-xs-12.section.flex.no-padding.web
          .centered
            img(src="/images/money_computer.png")
      .row#data
        .col-md-6.col-xs-12.section.no-padding
        .col-md-6.col-xs-12.section.flex.no-padding.competencies
          .centered
            h2 Data Science 
            p
              | To help ensure you're solving the right problems, we can
              | leverage our in-house data science team.  Depending on your
              | needs, the team can create specialized tools, deliver
              | actionable visualizations, or mine for insights.
      .row#branding.web
        .col-md-6.col-xs-12.section.web.flex.no-padding
          .centered
            h2 Branding 
            p
              | We're young Millennials, and we can fix your brand.
              | We read a book on CSS.
        .col-md-6.col-xs-12.section.flex.no-padding
          .centered
            img(src="/images/db_computer.png")
      .row#caring
        .col-md-6.col-xs-12.section.no-padding
        .col-md-6.col-xs-12.competencies.section.flex.no-padding
          .centered
            h2 Marketing 
            p
              | No one beyond your friends will ever like you or pay attention to you.  It is
              | just what you are.  There is always some fact of reality that can wear down your
              | desire until you consider yourself wiser, for not wanting it any more.
      .row
        .col-xs-12.mobile-footer.details
          .row 
            .col-xs-12
              a(href='mailto:ideas@computerlab.io') hi@computerlab.io
              p= theme.phone
              p= theme.address_1
              p= theme.address_2
              p= theme.address_3

  //!= page.content
