extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn.invisible
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.
            a.btn.btn-circle.wow.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section.parallaxParent
    .container
      .row
        .col-md-4.v-center.col-xs-12
          include _partial/svg/devices-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Our Services
          .row.service.wow.slideInUp
            p
              span.pink We can build your product. 
              | Computer Lab specializes in developing data driven applications
              | with intensive UIs. We can work with your team, or work as your 
              | full-service dev shop.
          .row.service.wow.slideInUp      
            p
              span.pink We can understand your data. 
              | From ETL orchestration to data visualization, our team has 
              | the data-science expertise to make sure that you're solving the
              | right problems.
          .row.service.wow.slideInUp    
            p
              span.pink We can make people care about you. 
              | Computer Lab has the tools to get more eyes
              | on your product and help it win hearts and minds.
  section#feature-post.content-section.alt
    .container
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          h1.section-title.wow.fadeIn From The Blog
          h2.wow.fadeIn
            a(href=config.feature_post_path)=config.feature_post_title
          h5.wow.fadeIn=config.feature_post_author + ' - '
            span.date=config.feature_post_date
          p.wow.fadeIn=config.feature_post_excerpt
          a.btn.btn-default.over-dark.wow.fadeIn.read-more(href=config.feature_post_path) Read More
  // About Section
  section#about.content-section.last
    .container
      .row
        .col-md-4.col-xs-12.v-center
          include _partial/svg/team-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn About Lab
          .about.wow.slideInUp
            p
              | Computer Lab is a group of developers, designers and engineers 
              | who met on the Internet and now work together in Brooklyn, NY. 
          .about.wow.slideInUp
            p Our team includes  
              span
                a(target='_blank' href='https://ptsteadman.com/') Patrick Steadman
                | , 
                a(target='_blank' href='http://zachtaylor.me') Zachary Taylor
                | , 
                a(target='_blank' href='http://maxhfowler.com/') Max Fowler
                |  and 
                a(target='_blank' href='http://henrymac.info/') Henry MacConnel
                | .
          .about.wow.slideInUp
            p 
              span
              | Our office off the Bedford L is open to all, come stop by. 
              br
          .about.wow.slideInUp
            p
              span.pink
              | 140 Metropolitan Ave
              br
              | Brooklyn, NY 11249
          .about.row.wow.slideInUp    
            p
              a.btn.btn-default.email(href='mailto:hi@computerlab.io?Subject=Inquiry') Email Us

