extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn.invisible
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy that helps organizations accelerate products, brands and beyond.
            a.btn.btn-circle.wow.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section.parallaxParent
    .container
      .row
        .col-md-4.v-center.col-xs-12
          include _partial/svg/devices-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Our Services
          .row.service.wow.slideInUp
            p
              span.pink We can build your product. 
              | Computer Lab specializes in developing data-driven applications
              | with intensive UIs.  We're a full-service dev shop that knows
              | how to work well with other teams.
          .row.service.wow.slideInUp      
            p
              span.pink We can understand your data. 
              | Our team has the data science expertise to make sure that you're 
              | solving the right problems.  We collect, clean, store, mine, and
              | visualize data. 
          .row.service.wow.slideInUp    
            p
              span.pink We can make people care about you. 
              | The Computer Lab network will help you scale.  We have tools to
              | get more eyes on your product and build your brand. 

  section#feature-post.content-section.alt
    .container
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          h4.wow.fadeIn Blog
          h2.wow.fadeIn
            a(href=config.feature_note_path)=config.feature_note_title
          p.wow.fadeIn=config.feature_note_excerpt
          h5.wow.fadeIn=config.feature_note_author + ' - '
            span.date=config.feature_note_date
          a.btn.btn-default.over-dark.wow.fadeIn.read-more(href=config.feature_note_path) Read More
  // Case Study
  //- section#case-study.content-section.alt
  //-   .container 
  //-     .row
  //-       .col-md-6.col-xs-12
  //-         h4.wow.fadeIn Case Study
  //-         h1.section-title.wow.fadeIn
  //-           a(href=config.feature_case_path)=config.feature_case_title
  //-         h3=config.feature_case_lede
  //-         p.wow.fadeIn=config.feature_case_excerpt
  //-         a.btn.btn-default.over-dark.wow.fadeIn.read-more(target='_blank' href=config.feature_case_project_path) View
  //-         a.btn.btn-default.over-dark.wow.fadeIn.read-more(href=config.feature_case_path) Read More
  //-       .col-md-6.v-center.col-xs-12
  //-         img(src="/images/pinpoints6.png").wow.fadeIn
  // About Section
  section#about.content-section.last
    .container
      .row
        .col-md-4.col-xs-12.v-center
          include _partial/svg/team-svg
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn About Lab
          .about.wow.slideInUp
            p
              | Computer Lab is a group of developers, designers and engineers 
              | who met on the internet and now work together in an office in 
              | Manhattan.
          .about.wow.slideInUp
            p Our team is led by  
              span
                a(target='_blank' href='https://ptsteadman.com/') Patrick Steadman
                | , 
                a(target='_blank' href='http://zachtaylor.me') Zachary Taylor
                |  and 
                a(target='_blank' href='http://maxhfowler.com/') Max Fowler.
          .about.wow.slideInUp
            p 
              span
              | Our office in Tribeca is open to all, contact us and set up a time to
              | stop by. 
              br
          .about.wow.slideInUp
            p
              span.pink
              | 260 West Broadway
              br
              | New York, NY 10013
          .about.row.wow.slideInUp    
            p
              a.btn.btn-default.email(href='mailto:hi@computerlab.io?Subject=Inquiry') Email

